<ion-footer style="position: fixed; bottom: 0; width: 100%;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chords" routerLink="/chords">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Chords</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chords" routerLink="/artists">
      <ion-icon name="people"></ion-icon>
      <ion-label>Artists</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
